node_modules/
dist/
build/
.DS_Store
*.xcodeproj
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
.venv/
models/
bin/
.env
.env.local
